<IfModule mod_rewrite.c>
    RewriteEngine On

    # ==========================================
    # 1. API ROUTING
    # ==========================================
    
    # Pass through static API assets (.png, .ico, Swagger-CSS)
    RewriteCond %{REQUEST_URI} \.(ico|png|jpg|jpeg|gif|svg|css|js|woff|woff2|ttf|eot)$ [NC]
    RewriteRule ^api/(.*)$ api/public/$1 [L]

    # Send dynamic API routes (Swagger JSON, endpoints) to Laravel
    RewriteRule ^api/(.*)$ api/public/index.php [L]


    # ==========================================
    # 2. PWA ROUTING
    # ==========================================
    
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>