@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-primary-green: #105432;
  --color-dark-green: #0a3620;
  --color-accent-gold: #d4af37;
  --color-bg-cream: #f9f9f6;
}

@layer base {
  body {
    background-color: var(--color-bg-cream);
    color: #1f2937;
    -webkit-font-smoothing: antialiased;
  }
}
